# NBA EDA

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

import matplotlib.pyplot as plt

## #1: Formulate your questions
- TBD

## #2: Read in the data

In [2]:
box_score_df = pd.read_csv("2012-18_playerBoxScore.csv")
injuries_df = pd.read_csv("injuries.csv")

In [3]:
box_score_df.columns

Index(['gmDate', 'gmTime', 'seasTyp', 'playLNm', 'playFNm', 'teamAbbr',
       'teamConf', 'teamDiv', 'teamLoc', 'teamRslt', 'teamDayOff', 'offLNm1',
       'offFNm1', 'offLNm2', 'offFNm2', 'offLNm3', 'offFNm3', 'playDispNm',
       'playStat', 'playMin', 'playPos', 'playHeight', 'playWeight',
       'playBDate', 'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB', 'opptAbbr', 'opptConf',
       'opptDiv', 'opptLoc', 'opptRslt', 'opptDayOff'],
      dtype='object')

In [4]:
injuries_df.columns

Index(['Date', 'Team', 'Acquired', 'Relinquised', 'Notes'], dtype='object')

### Combine the first and last name columns in box_score_df

In [5]:
box_score_df['playNm'] = box_score_df['playFNm'] + ' ' + box_score_df['playLNm']

### Clean up the teamAbbr column in box_score_df

In [6]:
box_score_df['Team'] = box_score_df['teamAbbr']
box_score_df['Team'] = box_score_df['Team'].replace('WAS', 'Wizards')
box_score_df['Team'] = box_score_df['Team'].replace('CLE', 'Cavaliers')
box_score_df['Team'] = box_score_df['Team'].replace('BOS', 'Celtics')
box_score_df['Team'] = box_score_df['Team'].replace('MIA', 'Heat')
box_score_df['Team'] = box_score_df['Team'].replace('DAL', 'Mavericks')
box_score_df['Team'] = box_score_df['Team'].replace('LAL', 'Lakers')
box_score_df['Team'] = box_score_df['Team'].replace('DEN', 'Nuggets')
box_score_df['Team'] = box_score_df['Team'].replace('PHI', '76ers')
box_score_df['Team'] = box_score_df['Team'].replace('IND', 'Pacers')
box_score_df['Team'] = box_score_df['Team'].replace('TOR', 'Raptors')
box_score_df['Team'] = box_score_df['Team'].replace('HOU', 'Rockets')
box_score_df['Team'] = box_score_df['Team'].replace('DET', 'Pistons')
box_score_df['Team'] = box_score_df['Team'].replace('SAC', 'Kings')
box_score_df['Team'] = box_score_df['Team'].replace('CHI', 'Bulls')
box_score_df['Team'] = box_score_df['Team'].replace('WAS', 'Washington')
box_score_df['Team'] = box_score_df['Team'].replace('SA', 'Spurs')
box_score_df['Team'] = box_score_df['Team'].replace('NO', 'Pelicans')
box_score_df['Team'] = box_score_df['Team'].replace('UTA', 'Jazz')
box_score_df['Team'] = box_score_df['Team'].replace('GS', 'Warriors')
box_score_df['Team'] = box_score_df['Team'].replace('PHO', 'Suns')
box_score_df['Team'] = box_score_df['Team'].replace('MEM', 'Grizzlies')
box_score_df['Team'] = box_score_df['Team'].replace('LAC', 'Clippers')
box_score_df['Team'] = box_score_df['Team'].replace('POR', 'Blazers')
box_score_df['Team'] = box_score_df['Team'].replace('OKC', 'Thunder')
box_score_df['Team'] = box_score_df['Team'].replace('ORL', 'Magic')
box_score_df['Team'] = box_score_df['Team'].replace('CHA', 'Hornets')
box_score_df['Team'] = box_score_df['Team'].replace('MIL', 'Bucks')
box_score_df['Team'] = box_score_df['Team'].replace('ATL', 'Hawks')
box_score_df['Team'] = box_score_df['Team'].replace('NY', 'Knicks')
box_score_df['Team'] = box_score_df['Team'].replace('MIN', 'Timberwolves')
box_score_df['Team'] = box_score_df['Team'].replace('BKN', 'Nets')

### Clean up Team column in injuries_df

In [7]:
injuries_df['Team'] = injuries_df['Team'].replace('Bobcats', 'Hornets')

### Change date columns for each df to datetime

In [8]:
box_score_df['gmDate'] = pd.to_datetime(box_score_df['gmDate'])
injuries_df['Date'] = pd.to_datetime(injuries_df['Date'])

## #3: Check the packaging

In [9]:
box_score_df.shape

(155713, 53)

In [10]:
injuries_df.shape

(9783, 5)

## #4: Look at the top and bottom of data

In [11]:
box_score_df.head()
box_score_df.tail()

,gmDate,gmTime,seasTyp,playLNm,playFNm,teamAbbr,teamConf,teamDiv,teamLoc,teamRslt,...,playDRB,playTRB,opptAbbr,opptConf,opptDiv,opptLoc,opptRslt,opptDayOff,playNm,Team
155708,2018-04-11,10:30,Regular,Sampson,JaKarr,SAC,West,Pacific,Home,Win,...,4,4,HOU,West,Southwest,Away,Loss,1,JaKarr Sampson,Kings
155709,2018-04-11,10:30,Regular,Hield,Chavano,SAC,West,Pacific,Home,Win,...,3,5,HOU,West,Southwest,Away,Loss,1,Chavano Hield,Kings
155710,2018-04-11,10:30,Regular,Hayes,Nigel,SAC,West,Pacific,Home,Win,...,3,4,HOU,West,Southwest,Away,Loss,1,Nigel Hayes,Kings
155711,2018-04-11,10:30,Regular,Carter,Vincent,SAC,West,Pacific,Home,Win,...,3,3,HOU,West,Southwest,Away,Loss,1,Vincent Carter,Kings
155712,2018-04-11,10:30,Regular,Cooley,Jack,SAC,West,Pacific,Home,Win,...,3,4,HOU,West,Southwest,Away,Loss,1,Jack Cooley,Kings

In [12]:
injuries_df.head()
injuries_df.tail()

,Date,Team,Acquired,Relinquised,Notes
9778,2018-05-22,Warriors,NaN,Andre Iguodala,bruised left leg (DTD)
9779,2018-05-25,Rockets,NaN,Chris Paul,strained right hamstring (out for season)
9780,2018-05-26,Cavaliers,NaN,Kevin Love,concussion (DTD)
9781,2018-05-31,Cavaliers,Kevin Love,NaN,returned to lineup
9782,2018-06-06,Warriors,Andre Iguodala,NaN,returned to lineup

## #5: Check the 'n's

In [13]:
print('# of teams: ', len(box_score_df['Team'].unique()))
print('# of teams: ', len(injuries_df['Team'].unique()))

# of teams:  30
# of teams:  31

In [14]:
print('-- box_score_df --')
print('Start date: ', box_score_df['gmDate'].min())
print('End date: ', box_score_df['gmDate'].max())
print('-- injuries_df --')
print('Start date: ', injuries_df['Date'].min())
print('End date: ', injuries_df['Date'].max())

-- box_score_df --
Start date:  2012-10-30 00:00:00
End date:  2018-04-11 00:00:00
-- injuries_df --
Start date:  2010-10-03 00:00:00
End date:  2018-06-06 00:00:00

In [15]:
print('# of first names: ', len(box_score_df['playFNm'].unique()))
print('# of last names: ', len(box_score_df['playLNm'].unique()))
print('# of first and last name combos: ', len(box_score_df['playNm'].unique()))

# of first names:  592
# of last names:  702
# of first and last name combos:  941

In [16]:
box_score_df['playStat'].value_counts()

Bench      81923
Starter    73790
Name: playStat, dtype: int64

In [17]:
box_score_df['playPos'].value_counts()

SG    33794
PF    33466
PG    33091
SF    29993
C     25060
F       191
G       118
Name: playPos, dtype: int64

In [18]:
print('min play height: ', box_score_df['playHeight'].min())
print('max play height: ', box_score_df['playHeight'].max())

min play height:  69
max play height:  89

In [19]:
print('min play weight: ', box_score_df['playWeight'].min())
print('max play weight: ', box_score_df['playWeight'].max())

min play weight:  149
max play weight:  355

In [21]:
print('min play birthday: ', box_score_df['playBDate'].min())
print('max play birthday: ', box_score_df['playBDate'].max())

min play birthday:  1972-10-04
max play birthday:  1998-10-22

In [22]:
print('play min points: ', box_score_df['playPTS'].min())
print('play max points: ', box_score_df['playPTS'].max())

play min points:  0
play max points:  70

In [23]:
print('play min rebounds: ', box_score_df['playTRB'].min())
print('play max rebounds: ', box_score_df['playTRB'].max())

play min rebounds:  0
play max rebounds:  30

In [24]:
print('# of acquired players: ', len(injuries_df['Acquired'].unique()))
print('# of relinquished players: ', len(injuries_df['Relinquised'].unique()))

# of acquired players:  487
# of relinquished players:  779

In [25]:
box_score_df.columns

Index(['gmDate', 'gmTime', 'seasTyp', 'playLNm', 'playFNm', 'teamAbbr',
       'teamConf', 'teamDiv', 'teamLoc', 'teamRslt', 'teamDayOff', 'offLNm1',
       'offFNm1', 'offLNm2', 'offFNm2', 'offLNm3', 'offFNm3', 'playDispNm',
       'playStat', 'playMin', 'playPos', 'playHeight', 'playWeight',
       'playBDate', 'playPTS', 'playAST', 'playTO', 'playSTL', 'playBLK',
       'playPF', 'playFGA', 'playFGM', 'playFG%', 'play2PA', 'play2PM',
       'play2P%', 'play3PA', 'play3PM', 'play3P%', 'playFTA', 'playFTM',
       'playFT%', 'playORB', 'playDRB', 'playTRB', 'opptAbbr', 'opptConf',
       'opptDiv', 'opptLoc', 'opptRslt', 'opptDayOff', 'playNm', 'Team'],
      dtype='object')